In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.patches as mpatch
%matplotlib inline

In [14]:
city_data_to_read = "resources/city_data.csv"
ride_data_to_read = "resources/ride_data.csv"

In [15]:
city_data_df = pd.read_csv(city_data_to_read)
ride_data_df = pd.read_csv(ride_data_to_read)

In [12]:
city_ride_merged_df = ride_data_df.merge(city_data_df, left_on='city', right_on='city')
city_ride_merged_df.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2019-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2019-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2019-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2019-01-02 14:14:50,13.89,424254840012,5,Urban
5,Lake Jonathanshire,2019-04-06 11:30:32,16.84,6164453571846,5,Urban
6,Lake Jonathanshire,2019-03-21 00:18:34,37.95,8353656732934,5,Urban
7,Lake Jonathanshire,2019-01-28 00:07:00,5.67,9756573174778,5,Urban
8,Lake Jonathanshire,2019-01-24 12:24:22,34.65,3319117904437,5,Urban
9,Lake Jonathanshire,2019-03-24 16:27:49,14.94,1670908453476,5,Urban

In [16]:
city_ride_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2375 entries, 0 to 2374
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          2375 non-null   object
 1   date          2375 non-null   object
 2   fare          2375 non-null   float64
 3   ride_id       2375 non-null   int64
 4   driver_count  2375 non-null   int64
 5   type          2375 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 129.9+ KB

In [18]:
city_ride_merged_df.count()

city            2375
date            2375
fare            2375
ride_id         2375
driver_count    2375
type            2375
dtype: int64

In [19]:
city_ride_merged_df.isnull().sum()

city            0
date            0
fare            0
ride_id         0
driver_count    0
type            0
dtype: int64

In [20]:
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [23]:
sum(city_data_df["type"]=="Rural")

18

In [ ]:
fare_average = city_ride_merged_df['fare'].mean()
total_number_of_rides = city_ride_merged_df['ride_id'].count
total_number_of_drivers = city_ride_merged_df['driver_count'].sum()

plt.scatter(x=fare_average)